# Airflow configuration.
AIRFLOW_UID=50000
FERNET_KEY=replace_with_generated_key

# Netflix PostgreSQL connection.
NETFLIX_DB_HOST=localhost
NETFLIX_DB_PORT=5432
NETFLIX_DB_NAME=postgres
NETFLIX_DB_USER=postgres
NETFLIX_DB_PASSWORD=replace_with_password